<h3>Create Project Details</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Project Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="projectDetails.name" name="name">
    </div>
    <div class="form-group">
        <label for="name">Total Budget</label>
        <input type="text" class="form-control" id="totalBudget" required [(ngModel)]="projectDetails.totalBudget" name="totalBudget">
      </div>

    <button type="submit" class="btn btn-success">Add Project</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Project Added successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
