<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees" class="nav-link" routerLinkActive="active">Employees</a>
    </li>
    <li class="nav-item">
      <a routerLink="addresses" class="nav-link" routerLinkActive="active">Addresses</a>
    </li>
    <li class="nav-item">
      <a routerLink="roles" class="nav-link" routerLinkActive="active">Employee Role</a>
    </li>
    <li class="nav-item">
      <a routerLink="projects" class="nav-link" routerLinkActive="active">Project Details</a>
    </li>
    
  
  </ul>
</nav>


<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container" style="text-align: center;">
    <span>All Rights Reserved 2020 @BornToCode</span>
  </div>
</footer>