<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="designation">Designation</label>
      <input type="text" class="form-control" id="designation" required [(ngModel)]="employeeRole.designation" name="designation">
    </div>

    <button type="submit" class="btn btn-success">Add Role</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Employee Role Added successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
