<h3>Update Address</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Address Line One</label>
            <input type="text" class="form-control" id="addressLineOne" required [(ngModel)]="address.addressLineOne"
                name="addressLineOne">
        </div>
        <div class="form-group">
            <label for="name">Address Line Two</label>
            <input type="text" class="form-control" id="addressLineTwo" required [(ngModel)]="address.addressLineTwo"
                name="addressLineTwo">
        </div>
        <div class="form-group">
            <label for="name">Country</label>
            <input type="text" class="form-control" id="country" required [(ngModel)]="address.country" name="country">
        </div>
        <div class="form-group">
            <label for="name">State</label>
            <input type="text" class="form-control" id="state" required [(ngModel)]="address.state" name="state">
        </div>
        <div class="form-group">
            <label for="name">City</label>
            <input type="text" class="form-control" id="city" required [(ngModel)]="address.city" name="city">
        </div>
        <button type="submit" class="btn btn-success">Update Address</button>
    </form>
</div>